#hierarchyFilerPane {
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.hierarchy-name:hover {
  background:
     linear-gradient(
       to right,
       rgb(0,240,16) 0%,
       rgb(0,240,16) 2px,
       transparent
     );
  cursor: pointer;
}
ul.hierarchy-nested {
  list-style-type: none;
}
.hierarchy-caret {
  user-select: none;
}
.hierarchy-caret::before {
  /* content: '\25E5'; */
  content: '\27a4';
  color: black;
  display: inline-block;
  margin-right: 3px;
}
.hierarchy-caret-down::before {
  transform: rotate(90deg);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hierarchy-nested {
  display: none;
}
.hierarchy-active {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}
